.Separator {
    width: 80vmin;
    float: right;
    text-align: center;
    margin-right: 5vmin;
}

.SeparatorIcon {
    float: left;
}

.VerticalSeparator {
    width: 80vmin;
    text-align: center;
    margin-right: 5vmin;
}

.VerticalSeparatorIcon {
}