.NavBarItem {
    width: 11vmin;
    float: left;
    color: black;
    border: none;
    outline: none;
    background-color: white;
    font-size: medium;
}

b {
    border-bottom: 3px solid goldenrod;
    padding: 0 0 4px;
}

.NavBar {
    margin-left: 10vmin;
    margin-top: 5vmin;
    text-align: center;
}
