.Logo {
    width: 10%;
    float: left;
    position: relative;
}

.LogoImage {
    float: left;
    position: absolute;
}

.LogoName {
    float: left;
    position: absolute;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



